

</div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <p>Blog App</p>
                </div>
                <div class="col-sm-4">
                    <p>Alex SN</p>
                </div>
                <div class="col-sm-4">
                    <p>Miami, FL</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>