body {
    background-color: black;
}

h1, h2 {
    color: white;
}

.square {
    width: 30%;
    background-color: aquamarine;
    padding-top: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 20px;
}

.square.done {
    background-color: green;
}

.selected {
    background-color: orange;
}