<h1>This is the home page</h1>

<a href="/register" class="btn btn-primary">Sign up!</a>
 <br>
 <br> <br>
 <br>
<a href="/login" class="btn btn-primary">Login</a>

<br>
<br> <br>
<br>

<a href="/logout" class="btn btn-primary">Logout</a>