<h1> Secret page </h1>

<img src="https://media.giphy.com/media/2A75RyXVzzSI2bx4Gj/giphy.gif" >


<img src="https://media.giphy.com/media/1yMfs1NsNIAItbpXzO/giphy.gif" >


<img src="https://media.giphy.com/media/7FgDOBGyFLgns6aiKb/giphy.gif" >

<img src="https://media.giphy.com/media/lwjC9ZGH5jwCZvRwSa/giphy.gif" >


<a href="/register" class="btn btn-primary">Sign up!</a>
 <br>
 <br> <br>
 <br>
<a href="/login" class="btn btn-primary">Login</a>

<br>
<br> <br>
<br>

<a href="/logout" class="btn btn-primary">Logout</a>