<%- include ("partials/header") %>

<h1>You LOVE ==  <%= animalVar %></h1>

<% if (animalVar === "leia"){ %>

	<p>Leia is the best</p>

<% } else { %>
	<p>You suck</p>

<% } %>


<%- include("partials/footer") %>