

<h1>CARS</h1>

<ul>
<% for(var i = 0; i <cars.length; i++) { %>
	<li> car ------  </li>
<% } %>
</ul>

<h2>Using a forEach loop</h2>

<ul>
<% cars.forEach(function(car) { %>
	<li> <%= car %></strong></li>
<% }) %>
</ul>

